body{
    margin: 0 auto;
    background-color: #f6f8f9;
    
}
.container
{
    background-color:hsl(0, 0%, 100%) ;
    vertical-align: middle;
    font-size: 32px;
    font-family: arial;
    margin-bottom: 30px;
}

h1{
    display: inline-block;
  
    
}

.task{
    background-color: #ffffff;
    margin:auto;
    width: 80%;
    font-family: arial;
    height: 640px;
    padding-left: 65px;
    padding-bottom: 30px;
   
   

}


.blue_button{

    color: white;
    background-color: #47adf1;
    border: 0;
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
    

}

.grey_button{
    color:#d7dbde;
    border: 1px solid #d1d6da;
    padding:2px;
    background-color: white;
    border-radius: 4px;
}





    

.cross{
    color: red;  
    border: 1px solid red; 
     padding: 3px;
     display: inline-block;
    font-weight: bold;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 1; 
    font-size: 10px;
   

}

.check{
    
    color: green;
    border: 1px solid green; 
    padding: 2px;
       display: inline-block;
    font-weight: bold;
    border-radius: 50%;
    vertical-align: middle;
    line-height: 1; 
    font-size: 10px;
   


}




.line{
    margin-top: 6px;
    border-bottom: 3px solid #f6f8f9;
    margin-bottom: 20px;
    margin-left: -110px;
}


.label
{ 
    border-radius: 12px;
    height: 15px;
    width: 60px;
    display: inline-block;
    font-size: 10px; 
    text-align: center;
    vertical-align: middle; 
    color: white;

    
}
.blu{
    background-color: #47adf1;
}
#purple{
      background-color: #9c72e4;
}
#green1{
    background-color:#64c0a9;
}
#orange{
     background-color: #f29e33;
}
#pink{
     background-color: #d863a1;
}
#green2{
    background-color: #b0c926;
}
.button{
   
   border-bottom: 2px solid #f6f8f9;
}
