body{
    margin: 0 auto;
    background-color: #f6f8f9;
    
}
.container
{
    background-color:#ffffff ;
    vertical-align: middle;
    font-size: 32px;
    font-family: arial;
    margin-bottom: 30px;
}

.logotext{
    vertical-align:super;
    
}

.task{
    background-color: #ffffff;
    margin:auto;
    width: 50%;
    font-family: arial;
   

}
.addtask{
    margin-left: 45px;

}

.blue_button{

    color: white;
    background-color: #47adf1;
    border: 0;
    padding: 5px;
    margin-top: 10px;
    border-radius: 4px;
    

}

.grey_button{
    color:#d7dbde;
    border: 1px solid #d1d6da;
    padding:2px;
    background-color: white;
    border-radius: 4px;
}


hr{
    margin-bottom: 22px;
}
.check{
  display: inline-block;
  color: green;
  font-weight: bold;
  border: 1px solid green;
  border-radius: 50%;
  padding: 2px;
  font-size: 10px;
  line-height: 1;
  vertical-align: middle;
  
}

.editorial{
    color: white;
    background-color: #47adf1;
    border-radius: 12px;
    height: 15px;
    width: 60px;
   
    display: inline-block;
    font-size: 10px; 
    text-align: center;
    vertical-align: middle;
    
}

.goals{
    color: white;
    background-color: #9c72e4;
    border-radius: 12px;
    height: 15px;
    width: 60px;
   
    display: inline-block;
    font-size: 10px; 
    text-align: center;
    vertical-align: middle;
    
}

.cross{
color: red;    
  font-weight: bold;
  border: 1px solid red;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
}

.recruiting{
    
   
}

.mobile{ 
    color: white;
    background-color: #f29e33;
    border-radius: 12px;
    height: 15px;
    width: 60px;
    display: inline-block;
    font-size: 10px; 
    text-align: center;
    vertical-align: middle;

}

.website{
    color: white;
    background-color: #d863a1;
    border-radius: 12px;
    height: 15px;
    width: 60px;
    display: inline-block;
    font-size: 10px; 
    text-align: center;
    vertical-align: middle;

}

.sales{
     color: white;
    background-color: #b0c926;
    border-radius: 12px;
    height: 15px;
    width: 60px;
    display: inline-block;
    font-size: 10px; 
    text-align: center;
    vertical-align: middle;


}